@import url(null_style.css);

body {
    background-color: rgb(235, 237, 237);
}
.App {
}
.post {
    margin: 15px auto;
    border: 3px solid orange;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
    background-color: white;
}

.post__text {
    margin-right: 20px;
}
.post__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.post__body {

    font-size: 1rem;
    word-break: break-all;
}
.post__btn {
    word-break: normal;
    padding: 5px
}