@import url(null_style.css);

body {
    background-color: rgb(235, 237, 237);
}
.App {
}
.post {
    margin: 15px auto;
    border: 3px solid orange;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 90%;
    background-color: white;
}

.post__text {
    margin-right: 20px;
}
.post__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.post__body {
    font-size: 1.2rem;
    word-break:keep-all
}
.post__btn {
    word-break: normal;
    font-size: 1.2rem;
    padding: 5px
}
.post__form {
    font-size: 1.2rem;
}
.post__form input{
    display: block;
    width: 40vw;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    background-color: rgba(232, 227, 227, 0.977);
    border: 1px solid;
    box-shadow: 0px 0px 3px;
}
.post__form button {
    display: block;
    font-size: 1.2rem;
    padding: 5px;
    background-color: rgba(232, 227, 227, 0.977);
    border: 1px solid;
}
.post__filter {
    margin: 15px auto;
    border: 3px solid orange;

    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 90%;
    background-color: white;
}
.post__filter input {
    font-size: 1.2rem;
}