@import url(null_style.css);

body {
    background-color: rgb(235, 237, 237);
    position: relative;
}
#root {
    font-family: Comic Sans MS;
    min-height: 100%;
}
header {
    background: linear-gradient(to left, #f46b45, #eea849);
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header nav {
    padding: 0 30px;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a {
    color: white;
    font: 2rem Comic Sans MS;
}

footer {
    height: 50px;
    background-color: black;
    font-size: 2rem;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.main__content {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding-top: 150px;
}
main button{
    font-size: 2rem;
}
.home__ref {
    max-width: 80%;
    margin: 15px auto;
    text-align: justify;  
    word-break:normal
}
.home__text {
    max-width: 80%;
    margin: 15px auto;
    text-align: justify;
}
.active {
    color: rgb(47, 255, 206);
}
.post {
    margin: 15px auto;
    border: 3px solid orange;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 90%;
    background-color: white;
}

.post__text {
    margin-right: 20px;
}
.post__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.post__body {
    font-size: 1.2rem;
    word-break:keep-all
}
.btn__box {
    display: flex;
}
.post__comment {
    margin: 20px auto;
    width: 80%;
    border: 2px blue solid;
    background-color: white;
    padding: 15px
}
.post__comment h2{
    font-weight: 600;
    margin-bottom: 10px;
}

.post__btn {
    word-break: normal;
    font-size: 1.2rem;
    padding: 5px
}
.post__btn:first-child{
    margin-right: 10px;
}
.post__form {
    font-size: 1.2rem;
}
.post__form input{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    background-color: rgba(232, 227, 227, 0.977);
    border: 1px solid;
    box-shadow: 0px 0px 3px;
}
.post__form button {
    display: block;
    font-size: 1.2rem;
    padding: 5px;
    background-color: rgba(232, 227, 227, 0.977);
    border: 1px solid;
}
.post__filter {
    margin: 15px auto;
    border: 3px solid orange;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 90%;
    background-color: white;
}
.post__filter input {
    font-size: 1.2rem;
    width: 50%;
}
.btn__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}
.nav__btn {
    font-size: 1.4rem;
    padding: 20px;
    background-color: rgb(235, 237, 237);
}
.btn__current {
    padding: 20px;
    color: orange;
    font-size: 1.4rem;
    background-color: rgb(235, 237, 237);
}
.subtitle {
    font-size: 4rem;
    text-align: center;
}
.title {
    font-size: 4rem; 
    text-align: center;
    min-height: calc(100vh - 400px);
}

.posts__wrapper {
    min-height: calc(100vh - 400px);
    width: 100%;
}

.observer__element {
    height: 1px; 
    width: 80%;
}
.pagination__mobile {
    display: none;
}
@media screen and (max-width: 800px) {
    html{
        font-size: 10px;
    }
    .main__content {
    min-height: calc(100vh - 50px);
    padding-top: 100px;
    }
    .title {
        min-height: calc(100vh - 320px);
    }
    header {
            height: 100px;
        }
}
@media screen and (max-width: 630px) {
    header {
        height: 50px;
    }
    .title {
        min-height: calc(100vh - 270px);
    }
    .menu {
        margin: 0;
        padding: 0;
    }
    .menu__nav{
        display: none;
    }
    .main__content {
        min-height: calc(100vh - 50px);
        padding-top: 50px;
    }
    .post {
        flex-direction: column;
    }
    .post__text{
        margin-bottom:15px ;
    }
    .btn__box {
        justify-content: space-between;
        width: 100%;
    }
    main {
        min-height: calc(100vh - 100px);
        }
    .pagination {
        display: none;
    }
    .pagination__mobile {
        display: block;
    }
}